#aus2title-h{
    color: rgb(52, 52, 202);
}
#aus2title-c{
    color: rgb(37, 36, 36);
}
#aus2demo{
    background-color: rgb(71, 71, 192);
    font-size: 18px;
}
#aus2{
    height: 100%;
    width: 100%;
}