#section3{
    background-color: rgb(247, 244, 244);
}
/* .ss3{
    padding-top: 20%;
} */
.sentimg{
    display: block;
    margin: auto;
    height: 70%;
    width: 70%;
}
#s3content{
    margin-top: 2%;
    margin-left: 15%;
    color: grey;
    text-align: justify;
}
#s3link{
    margin-top: 2%;
    margin-left: 15%;
    font-weight: bold;
    color:black;
    text-align: justify;
}